// PURPLE COLOR THEME
@base-bold: #685C82;
@base-secondary: #918FB3;
@base-tertiary: #BDC8D8;
@base-fourth: #E2E2E2;
@base-muted: #E9F1F2;
@base-foreground: #000;
@base-foreground-inverted: #000;
@site-width: 550px;

// Etsy
// http://www.colourlovers.com/web/trends/websites/7550/NOTCOT
// @base-bold: #89CEDE;
// @base-secondary: #929487;
// @base-tertiary: #C7C9BE;
// @base-muted: #F4F5ED;
// @base-foreground: #000;
// @base-foreground-inverted: #000;


// BLUE COLOR THEME
//http://www.colourlovers.com/palette/1855868/Blue_Nebula
// @base-bold: #475055;
// @base-secondary: #486A85;
// @base-tertiary: #4C7A9C;
// @base-muted: #BFCACC;
// @base-foreground: #000;
// @base-foreground-inverted: #000;

// RED COLOR THEME
// http://www.colourlovers.com/web/trends/websites/7578/Computerlove™_%7C_Connecting_Creative_Talents.
@base-bold: #7F181B;
@base-secondary: #353535;
@base-tertiary: #626262;
@base-muted: #F0F0F0;
@base-foreground: #000;
@base-foreground-inverted: #000;

// New Theme
@base-bold: #444349;
@base-fourth: #BBBCC0;
@nav-item-bg: #444349;

@base-green: #74B454;
@base-red: #7F181B;
@base-purple: #685C82;
@base-blue: #06DEFF;
@base-brown: #9B8569;
@base-yellow: #FFFF00;
@base-muted: #301C4A;
@base-orange: #FFA100;
@site-foreground: #000;
@timer-window-bg: #2F2E33;

.cell-bold {
  font-weight: bold;
  color: @base-purple;
}

.resource-a {
  color: #878787 !important;
}

.padded {
  padding: 5px;
}

.solar-map {
  overflow: hidden;
  padding-left: 100px;
}

#ctxMap {
  width: 830px;
  margin-top: 50px;
}

#timerWindowButtons {
  position: fixed;
  bottom: 0px;
  width: 250px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: medium;
  padding: 10px;
  margin-left: 15px;
}

#timerWindowButtons:hover {
  cursor: pointer;
  background-color: @base-green;
}

#ctxOffScreen {
  position: absolute;
  left: -250;
  top: -250;
}

.ssnav {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid @base-green;
  background-color: #000;
}
.ssnav i {
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  width: 40px;
}

.ssnav i:hover {
  background-color: @base-green;
}

.right {
  float: right;
}

.anomaly-note {
  color: #FF0000;
  font-weight: bold;
}

.anomaly-protector {
  color: @base-purple;
  font-weight: bold;
  font-size: large;
}

.green {
  color: @base-green;
}

.purple {
  color: @base-purple;
}

#mapCanvas {
  margin-top: 50px;
}

.space-bg {
  background-image: url('./assets/space_bg6.jpg');
  background-size: cover;
  background-position: center;
}

.pluto-banner {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 550px;
    background-image: url('./assets/planet-banner.jpg');
    background-size: cover;
    background-position: center;
}
.quote {
  padding: 20px;
  opacity: 0.8;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 50px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  top: 25px;
}
blockquote p {
  display: run-in;
}
.page-header {
  border: 0 !important;
}

.map-area {
  width: 550px;
  height: 550px;
}

@font-face {
    font-family: 'Exo2';
    src: url('./fonts/exo2-regular-webfont.eot');
    src: url('./fonts/exo2-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/exo2-regular-webfont.woff2') format('woff2'),
         url('./fonts/exo2-regular-webfont.woff') format('woff'),
         url('./fonts/exo2-regular-webfont.ttf') format('truetype'),
         url('./fonts/exo2-regular-webfont.svg#exo_2regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.map-area {
  width: 535px;
}

.map-nav {
  display: inline-block;
  position: relative;
  float: right;
  width: 34px;
  padding-right: 6px;
  background-color: @base-green;
  padding-top: 5px;
  height: 555px !important;
}

.map-nav-item {
  display: inline-block;
  color: white;
  text-align: center;
  width: 33px;
}

.map-nav-item-home {

}

.map-nav-item:hover {
  background-color: black;
  cursor: pointer;
}

.center {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

html {
  position: relative;
  min-height: 100%;
}

.white {
  color: white !important;
  font-weight: bold;
}

body {
  font-family: 'Exo2', 'Verdana', sans-seirf;
  margin: 0;
  color: @site-foreground;
  background-image: url('./assets/struckaxiom.png');
  background-repeat: repeat;
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}

.site-header {
  line-height: 60px;
  vertical-align: middle;
  height: 60px;
  width: 100%;
  overflow: none;
  background-color: @base-bold;
  color: #fff;
  margin: 0 !important;
  padding: 0px 0px !important;
}

.site-header-nav {
  float: right;
  width: auto;
  height: 60px;
  background-color: @nav-item-bg;
}

.site-header-nav a:nth-child(1) {
  border-left: 2px solid #303030;
}

.site-header-nav a {
  position: relative;
  background-color: @nav-item-bg;
  padding: 20px 15px;
  border-right: 2px solid #303030;
}

.site-header-nav a:hover {
  background-color: @base-green;
}

.normal {
  text-decoration: none !important;
  color: #F2F2F2;
}

.content-area {
  margin: 20px 0px;

}

.map-slot {
  width: 25px !important;
}

/* NAVIGATION */
.nav-item {
  color: #fff !important;
  margin-right: 0px;
  padding: 0;
  font-size: small;
}

.nav-right {
  color: #fff !important;
  float: right;
  font-weight: bold;
  font-size: large;
}


.nav-top {
  background-color: @nav-item-bg !important;
  padding: 20px;
  border-bottom: 2px solid black;
}

.nav-icons {
  width: @site-width;
  margin-left: auto;
  margin-right: auto;
}

.infected-text {
  font-size: 18px;
  color: #FF0000;
  font-style: italic;
  margin: 0;
  padding: 0;
}

/* USER FORM */
.user-form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.user-form-input {
  width: 500px;
}

.user-form-row {
  width: 500px;
}

.user-form-submit {
  float: right;
  margin: 10px 0px;
}

.user-form-error {
  color: red;
  font-size: medium;
  font-weight: bold;
}

.user-form-title {
  background-color: @base-bold;
  font-weight: bold;
  font-size: xx-large;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}

.sub-description {
  color: @base-foreground;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.site-header-text {
  display: inline-block;
  position: relative;
  float: left;
  font-size: x-large;
}

/* RESOURCES */
.resource-bar {
  float: right;
  display: inline-block;
  padding-left: 10px;
  position: fixed;
  right: 0px;
}

.resource-item {
  display: inline-block;
  padding-right: 20px;
}

.resource-value {
  font-weight: bold;
  font-size: medium;
}

/* MAP AREA */
.map {
  border: 1px solid #555;
  width: 502px;
  height: 555px;
  background-image: url('./assets/space_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 500px 555px !important;
}

.map-slot {
  width: 50px !important;
  height: 50px !important;
  display: inline-block;
  background-color: #101010;
}

.map-slot:hover {
  cursor: pointer;
  background-color: rgba(50,50,50,255);
}

.map-slot-revealed {
  background-color: rgba(0, 0, 0, 0) !important;
}

.map-fleet-tile {
  background-color: rgba(0, 255, 0, 0.25) !important;
}

.map-slot-fleet {
  color: red !important;
}

.planet-icon {
    width: 50px;
    height: 50px;
    background-size: 50px 50px !important;
}

.map-slot-1:hover, .map-slot-2:hover, .map-slot-3:hover, .map-slot-4:hover, .map-slot-5:hover {
  cursor: pointer;
}

.map-slot-planet-1,
.map-slot-planet-2,
.map-slot-planet-3,
.map-slot-black_hole,
.map-slot-planet-4,
.map-slot-planet-infected,
.map-slot-planet-5,
.map-slot-planet-6,
.map-slot-planet-7,
.map-slot-planet-8,
.map-slot-planet-home,
.map-slot-planet_silver,
.map-slot-anomaly,
.map-slot-asteroid,
.map-slot-planet-sylmar {
  background-image: url('./assets/planet1.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
}

.map-slot-black_hole {
  background-size: 50px 50px;
  background-image: none;
}

.asteroid-planet {
}

.map-slot-asteroid {
  background-size: 35px 35px;
  background-image: url('./assets/asteroid.png') !important;
}

.map-slot-anomaly {
    background-image: url('./assets/anomaly2.png') !important;
}

.map-slot-planet_silver {
  background-image: url('./assets/planet_silver.png') !important;
}

.map-slot-planet-sylmar {
background-image: url('./assets/planet-silmar.png') !important;
}

.map-slot-planet-home {
  background-image: url('./assets/planet_home.png') !important;
}

.map-slot-planet-1 {
  background-image: url('./assets/planet0.png') !important;
}

.map-slot-planet-2 {
  background-image: url('./assets/planet3.png') !important;
}

.map-slot-planet-3 {
  background-image: url('./assets/planet4.png') !important;
}

.map-slot-planet-4 {
  background-image: url('./assets/planet4.png') !important;
}

.map-slot-planet-5 {
  background-image: url('./assets/planet5.png') !important;
}

.map-slot-planet-6 {
  background-image: url('./assets/planet6.png') !important;
}

.map-slot-planet-7 {
  background-image: url('./assets/planet7.png') !important;
}

.map-slot-planet-8 {
  background-image: url('./assets/planet8.png') !important;
}

.map-slot-planet-infected {
  background-image: url('./assets/planet2.png') !important;
}

.map-slot-enemy {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.map-slot-unowned {
  filter: grayscale(90%);
  -webkit-filter: grayscale(90%);
}

.map-slot-owned {
}

.map-slot-revealed:hover {
  background-color: rgba(50,50,50,0.7) !important;
}

.fa-owned-planet {
  color: white;
  position: relative;
  left: 10px;
  top: 10px;
}

/* PLANET DETAIL PAGE STYLES */
.planet-page {

}

.planet-details {
  height: 105px;
  margin-left: 120px;
}

.anomaly-details {
  height: 120px;
  margin-left: 120px;
}

.action-disabled {
  color: #A8A8A8 !important;
}

.action-disabled:hover {
  cursor: default !important;
  font-weight: normal !important;
}

.planet-action {
  font-size: medium;
  margin: 5px 5px;
  display: inline-block;
  color: @base-bold;
}

.planet-action:hover {
  cursor: pointer;
  font-weight: bold;
}

.anomaly-text {
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.anomaly-text h3 {
  margin: 0;
  padding: 0;
}

.planet-owner {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.planet-owner-name {
  font-weight: bold;
  display: inline-block;
}

.planet-description {
  display: run-in;
}

.planet {
  float: left;
  width: 100px;
  height: 100px;
  display: inline-block;
  background-size: 100px 100px !important;
}

.planet:hover {
  cursor: default !important;
}

/* Ship Styles */
.ship {
    margin: 20px 0px;
    padding: 10px;
}

.ship:nth-child(even) {
  background-color: #BDC8D8;
}

.ship-icon {
  float: left;
  margin-right: 10px;
  height: 100px;
  vertical-align: middle;
  padding-top: 20px;
}

.ship-name {
  font-weight: bold;
}

.order-row-disabled {
  color: gray;
}

.order-success {
  padding: 10px;
  margin-bottom: 10px;
  display: none;
}

.ship-order-submit {
  padding-top: 10px;
  float: right;
}

.ship-yard-error {
  font-size: xx-large;
  text-align: center;
}

/* Order Styles */
.order {
  margin: 20px 0px;
  padding: 10px;
}

.order-icon {
  float: left;
  margin-right: 10px;
}

.order-prefix {
  font-size: medium;
}

.order-name {
  font-weight: bold;
  font-size: large;
}

.order-total {
  font-style: italic;
}

/* Building styles */
.building {
  margin: 15px 0px;
  padding: 5px;
  min-height: 80px;
  border-bottom: 2px solid @base-fourth;
}

.log-entry:nth-child(even) {
  background-color: @base-fourth;
}

.log-entry-critical {
  color: red;
  font-weight: bold;
}

.building-title {
  font-weight: bold;
  font-size: small;
}

.building-description {
  font-size: small;
}

.building-level {
  font-size: large;
}

.anomaly-building {
  padding-top: 10px;
}

.building-icon {
  float: left;
  margin: 5px;
  margin-right: 10px;
  width: 65px;
  color: @base-bold !important;
}

/* Timer Styles */
.timer {
  font-weight: bold;
  font-size: x-large;
}

.map-nav {
  color: @base-bold;
  height: 105px;
}

.map-description {
  color: @base-foreground;
  margin-left: auto;
  margin-right: auto;
  float: left;
  width: 370px !important;
  padding: 5px 5px;
}

.map-arrow-left {
  text-align: left;
  float: left;
}

.map-arrow-right {
  text-align: right;
  float: right;
}

.map-arrow-left, .map-arrow-right {
  margin: 10px 0px;
  padding: 20px;
  background-color: @base-secondary;
}

.map-arrow-left:hover, .map-arrow-right:hover {
  cursor: pointer;
  color: black;
}

.quest-panel .btn {
}

.quest-panel {
  margin-top: 40px;
}

.quest-index {
  font-size: 42px;
  font-weight: bold;
  float: left;
  margin: 20px;
}

.quest-accepted-note {
  padding: 5px;
  font-weight: bold;
  text-align: right;
  color: white;
  background-color: @base-green;
}

.quest-title {
  color: white;
  font-size: 16px;
}

.quest-issuer {
  font-weight: bold;
  font-style: italic;
  color: @base-bold;
}

.quest-description {
  color: white;
  margin: 10px;
}

.quest-action {
  margin: 10px 0px;
}

.quest-item {
  padding: 5px;
  margin: 10px;
  background-color: #303030;
  border: 5px solid black;
}

.agreement-title {
  font-size: 20px;
  font-weight: bold;
}

.btn-trade {
  margin-right: 5px;
}

/* Animations, indicators, and other cool stuff */
@keyframes pulse {
    0% {
      width: 30px;
      height: 30px;
      margin: 10px;
    }
    50% {
      width: 35px;
      height: 36px;
      margin: 8px;
    }
    100% {
      width: 30px;
      height: 30px;
      margin: 10px;
    }
}

.circle-home, .circle-owned, .circle-player, .circle-guild {
  display: block;
  border-radius: 50%;
  margin: 11px;
  width: 30px;
  height: 30px;
  border: 2px solid @base-green;
}

.circle-owned {
  border: 2px solid @base-blue;
}

.circle-guild {
  border: 2px solid @base-orange;
}

.circle-player {
  border: 2px solid @base-yellow;
}

.pulse-circle-attack {
  display: block;
  border-radius: 50%;
  margin: 11px;
  width: 30px;
  height: 30px;
  border: 3px solid #7F181B;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.circle .map-slot-icon {
  margin: 15px;
};

.map-slot-icon {
  position: relative;
  float: left;
  margin: 25px;
  color: white;
}

.tagName {
    color: @base-purple;
    font-weight: bold;
}

.guildName {
  color: @base-orange;
  font-weight: bold;
}

.planet-attacking-info {
  color: red;
  font-weight: bold;
  font-size: large;
}

.miniTimer {
  display: block;
}

.timer-remaining {
  display: inline-block;
}
.timer-message {
  display: block;
  font-size: small;
}

#page-content-wrappers {
  width: 100%;
  position: absolute;
  margin-right: -280px;
  display: inherit;
}

#christmas-lights {
  background-image: url('./assets/lights.gif');
  background-repeat: repeat-x;
  height: 50px;
  width: 100%;
}

#timerWindow {
  position: fixed;
  height: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 60px;
  background-color: @timer-window-bg;
  color: #FFF;
  left: -280px;
  width: 280px;
  border-right: 5px solid @base-bold;
  overflow-x: hidden;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@keyframes card-move-in {
    0% {left: -250px;}
    100% {left: 0px;}
}

@keyframes card-move-out {
    0% {left: 0px;}
    99% {left: -250px;}
    100% { left: -250px; display: none; }
}

@card-bar-size: 10px;
.timer-card, .timer-card-o {
  border-right: @card-bar-size solid @base-secondary;
  background-color: #212121;
  padding: 10px 0px;
  font-size: small;
  margin: 5px 0px;
  margin-right: 15px;

  position: relative;
  left: -250px;

  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  -moz-animation-iteration-count: 1;
  -moz-animation-duration: 0.3s;
  -moz-animation-fill-mode: forwards;
}

.timer-card {
  width: 250px;
}

.timer-card-o {
  left: 0px;
  color: #FFF;
  padding: 15px;
}

.timer-card:hover {
  cursor: pointer;
}

.timer-card-active {
  animation-name: card-move-in;
  -moz-animation-name: card-move-in;
}

.timer-card-dismissed {
  animation-name: card-move-out;
  -moz-animation-name: card-move-out;
}

.card-trigger {
  width: @card-bar-size;
  display: inline-block;
  margin: 0px 0px;
  padding: 0px 0px;
  top: 0px;
  right: -@card-bar-size;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.0;
}

.card-message-o {
  width: 100%;
}

.card-trigger:hover {
  opacity: 0.25;
}

.timer-card-red {
  border-right: @card-bar-size solid #FF0000;
}

.timer-card-black {
  border-right: @card-bar-size solid #000;
}

.timer-card-green {
  border-right: @card-bar-size solid @base-green;
}

.timer-card-orange {
  border-right: @card-bar-size solid @base-orange;
};

.timer-card-blue {
  border-right: @card-bar-size solid @base-blue;
}

.timer-card-purple {
  border-right: @card-bar-size solid @base-purple;
}

.timer-card-yellow {
  border-right: @card-bar-size solid @base-yellow;
}

.timer-card-brown {
  border-right: @card-bar-size solid @base-brown;
}

.timer-card:nth-child(n) {
  padding-left: 10px;
}

.timer-window-active {
  left: 0px !important;
}

.timerEmptyMessage, .timerEmptyMessage-o {
  text-align: center;
  font-size: x-large;
  color: #FFF;
  margin: 10px;
  margin-top: 50px;
}

.timerEmptyMessage-o {
  font-size: xx-large;
  color: #000;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  float: right;
  bottom: 0px;
  right: 0px;
  padding: 20px;
}

/* Custom React Panel Code
--------------------------------------------------*/

@panel-size: 105%;
@panel-offset: 0px;
@keyframes panel-move-left {
    0% {left: @panel-size;}
    100% {left: @panel-offset;}
}
@keyframes panel-move-left-most {
    0% {left: @panel-offset;}
    100% {left: -@panel-size;}
}
@keyframes panel-move-right {
    0% {left: -@panel-size;}
    100% {left: @panel-offset;}
}
@keyframes panel-move-right-most {
    0% {left: @panel-offset;}
    100% {left: @panel-size;}
}

@-moz-keyframes panel-move-left {
    0% {left: @panel-size;}
    100% {left: @panel-offset;}
}
@-moz-keyframes panel-move-left-most {
    0% {left: @panel-offset;}
    100% {left: -@panel-size;}
}
@-moz-keyframes panel-move-right {
    0% {left: -@panel-size;}
    100% {left: @panel-offset;}
}
@-moz-keyframes panel-move-right-most {
    0% {left: @panel-offset;}
    100% {left: @panel-size;}
}

.js-panel {
  position: fixed;
  width: 100%;
  height: inherit;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: -100;
  -webkit-transition: margin-left 0.5s ease;
  -moz-transition: margin-left 0.5s ease;
  -o-transition: margin-left 0.5s ease;
  transition: margin-left 0.5s ease;
}

.js-panel-off {
  left: @panel-size;
  overflow-y: hidden !important;
}

.js-panel-left,
.js-panel-left-most,
.js-panel-right,
.js-panel-right-most,
.js-panel-left-toggled,
.js-panel-left-most-toggled,
.js-panel-right-toggled,
.js-panel-right-most-toggled {
  animation-iteration-count: 1;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  -moz-animation-iteration-count: 1;
  -moz-animation-duration: 0.8s;
  -moz-animation-fill-mode: forwards;
  margin-left: 0px !important;
}

.js-panel-left, .js-panel-left-toggled {
  animation-name: panel-move-left;
  -moz-animation-name: panel-move-left;
}
.js-panel-left-most, .js-panel-left-most-toggled {
  animation-name: panel-move-left-most;
  -moz-animation-name: panel-move-left-most;
}
.js-panel-right, .js-panel-right-toggled {
  animation-name: panel-move-right;
  -moz-animation-name: panel-move-right;
}
.js-panel-right-most, .js-panel-right-most-toggled {
  animation-name: panel-move-right-most;
  -moz-animation-name: panel-move-right-most;
}

/* ************************** */
@media not all and (min-width: 960px) {
   .desktop {
     display: none !important;
   }

  .mobile {
    display: inline-block !important;
  }

  .js-toggled {
    padding-left: 0px !important;
  }

  .js-panel-left-toggled,
  .js-panel-left-most-toggled,
  .js-panel-right-toggled,
  .js-panel-right-most-toggled {
    margin-left: 0px !important;
  }

  .resource-value {
    font-weight: bold;
    font-size: small !important;
  }

  .resource-item {
    padding-right: 10px !important;
  }

  .solar-map {
    padding-left: 0px !important;
  }


  .site-header {
    line-height: 40px !important;
    height: 40px !important;
  }

  .site-header-nav {
    height: 40px !important;
  }

  .site-header-nav a {
    padding: 5px 15px !important;
  }

  .site-logo {
    height: 38px !important;
  }

}

/* Therefore, anything after this line
   will be a small device style. */
 .desktop {
 }

 .mobile {
   display: none;
 }

 .js-panel-left-toggled,
 .js-panel-left-most-toggled,
 .js-panel-right-toggled,
 .js-panel-right-most-toggled {
   margin-left: 100px !important;
 }

 .js-toggled {
   padding-left: 100px;
 }
