@width: 150px;
@base-green: #74B454;
@base-gray: #444444;

.tech-root {

}

.tech-node {
  padding: 8px;
  background-color: @base-gray;
  color: #FFF;
};

.tech-node:hover {
  cursor: pointer;
  background-color: @base-green;
}

.tech-icon {
}

.tech-title {
  font-size: medium;
};

.tech-description {
  font-style: italic;
  font-size: small;
  padding-top: 5px;
}

.tech-children {
  margin-left: 50px;
}


.tech-disabled {
  opacity: 0.25;
}

.tech-acquired {
  background-color: @base-green !important;
  opacity: 0.75;
}

.tech-disabled:hover {
  cursor: default !important;
  background-color: @base-gray !important;
}
